<% provide(:title, 'Reset Password') %>
<h1>Reset Password</h1>

<%= render 'shared/flash_error_messages' %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <%= render 'shared/error_messages', object: f.object  %>
    <%= hidden_field_tag :uemail, @user.uemail %>

    <%= f.label :password, "Password" %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Password confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>