<%= form_for(@owner) do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ofname %><br>
    <%= f.text_field :ofname %>
  </div>
  <div class="field">
    <%= f.label :omname %><br>
    <%= f.text_field :omname %>
  </div>
  <div class="field">
    <%= f.label :olname %><br>
    <%= f.text_field :olname %>
  </div>
  <div class="field">
    <%= f.label :opnumber %><br>
    <%= f.text_field :opnumber %>
  </div>
  <div class="field">
    <%= f.label :oemail %><br>
    <%= f.text_field :oemail %>
  </div>
  <div class="field">
    <%= f.label :ocity %><br>
    <%= f.text_field :ocity %>
  </div>
  <div class="field">
    <%= f.label :ozip %><br>
    <%= f.text_field :ozip %>
  </div>
  <div class="field">
    <%= f.label :ostate_id %><br>
    <%= f.text_field :ostate_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
