<p id="notice"><%= notice %></p>

<p>
  <strong>Ofname:</strong>
  <%= @owner.ofname %>
</p>

<p>
  <strong>Omname:</strong>
  <%= @owner.omname %>
</p>

<p>
  <strong>Olname:</strong>
  <%= @owner.olname %>
</p>

<p>
  <strong>Opnumber:</strong>
  <%= @owner.opnumber %>
</p>

<p>
  <strong>Oemail:</strong>
  <%= @owner.oemail %>
</p>

<p>
  <strong>Ocity:</strong>
  <%= @owner.ocity %>
</p>

<p>
  <strong>Ozip:</strong>
  <%= @owner.ozip %>
</p>

<p>
  <strong>Ostate:</strong>
  <%= @owner.ostate %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
