<p id="notice"><%= notice %></p>

<div id="dog-picture">
    <label><h1><%= @dog.dname %>'s Picture</h1></label>
    <%= image_tag @dog.avatar_url(:thumb) if @dog.avatar? %>
    <div class="actions">
    </div>
</div>

<p>
  <strong>Dog name:</strong>
  <%= @dog.dname %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @dog.variety %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @dog.dob %>
</p>

<p>
  <strong>Height:</strong>
  <%= @dog.height %>
</p>

<p>
  <strong>Weight (in pounds):</strong>
  <%= @dog.weight %>
</p>

<p>
  <strong>Pedigree Number:</strong>
  <%= @dog.pedinum %>
</p>

<p>
  <strong>Dog Occupation:</strong>
  <%= @dog.occupation %>
</p>

<p>
  <strong>Work Certificate Number:</strong>
  <%= @dog.workcert %>
</p>

<p>
  <strong>Health Concerns?:</strong>
  <%= @dog.health %>
</p>

<p>
  <strong>Dcomments:</strong>
  <%= @dog.dcomments %>
</p>


<%= link_to 'Edit', edit_dog_path(@dog) %> |
<% if session[:user_id] %>
    <% if @current_user.try(:admin?) %>
        <%= link_to 'Dogs', dogs_path %>
    <% else %>
        <%= link_to 'Back', access_dogmenu_path %>
    <% end %>
<% end %>
