<% provide(:title, (@user.ufname + "'s profile")) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.ufname + " " + @user.ulname %>
</h1>

<p>
  <strong>First Name:</strong>
  <%= @user.ufname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @user.umname %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @user.ulname %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.uemail %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post' %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<% if session[:user_id] %>
    <% if @current_user.try(:admin?) %>
        <%= link_to 'Users', users_path %>
    <% else %>
        <%= link_to 'Back', access_authenticated_path %>
    <% end %>
<% end %>

