<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.ufname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @user.umname %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @user.ulname %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.uemail %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Back', access_authenticated_path %>
