<% @page_title = "My Dogs" %>

<div class="menu">
  <h1>My Dogs</h1>
  <ul>
    <li><%= link_to("User Menu", access_authenticated_path) %></li>
    <li><%= link_to "Add Dog", new_dog_path %></li>
    <li><%= link_to "Back", access_authenticated_path %></li>
  </ul>
</div>

<div id="dogdisplay" class="col-md-9">
  <table class="table table-hover table-striped">
    <thead>
        <tr>
          <th>Dog Name</th>
          <th>Breed</th>
        </tr>
    </thead>

    <tbody>
        <% @dogs.each do |d| %>
            <tr>
              <td><%= link_to d.dname, d %></td>
              <td><%= d.breed %></td>
              <td><%= link_to "Edit", edit_dog_path(d) %></td>
              <td><%= link_to "Delete", d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
  </table>

  <p>
    <%= will_paginate @dogs %>
  </p>
</div>
<!-- /.dogdisplay -->
