<% provide(:title, 'Events Menu') %>

<div class="menu">
  <h1>My Events</h1>
  <ul>
    <li><%= link_to("User Menu", access_authenticated_path) %></li>
    <li><%= link_to "Search Events", public_event_search_path %></li>
    <li><%= link_to "Create New Event", new_event_path %></li>

  </ul>
</div>

<div class="events-lists col-md-9">
  <p><h2>Created Events</h2></p>
  <div id="created-events">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
      </thead>
      <tbody>
      <% @e_created.each do |c| %>
          <tr>
            <td><%= link_to c.ename, (c) %></td>
            <td><%= c.edate.try(:strftime, ("%m/%d/%Y")) %></td>
            <td><%= c.etime.to_s[-13..-8] %></td>
            <td><%= link_to "Edit", edit_event_path(c) %></td>
            <td><%= link_to "Delete Event", c, method: :delete, data: {confirm: "Are you sure?"} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <p>
    <%= will_paginate @e_created %>
  </p>


  <p><h2>Attending Events</h2></p>
  <div id="attending-events">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
      </thead>
      <tbody>
      <% @e_attending.each do |e| %>
          <tr>
            <td><%= link_to e.ename, (e) %></td>
            <td><%= e.edate.try(:strftime, ("%m/%d/%Y")) %></td>
            <td><%= e.etime.to_s[-13..-8] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <p>
    <%= will_paginate @e_attending %>
  </p>
</div>
<!-- /.events-lists -->