<% if flash[:danger] %>
    <div class="danger"><p><%= flash[:danger] %></p></div>
<% end %>
<% if flash[:notice] %>
    <div class="notice"><p><%= flash[:notice] %></p></div>
<% end %>
<% if flash[:success] %>
    <div class="success"><p><%= flash[:success] %></p></div>
<% end %>
<% if flash[:error] %>
    <div class="error"><p><%= flash[:error] %></p></div>
<% end %>
<% if flash[:info] %>
    <div class="info"><p><%= flash[:info] %></p></div>
<% end %>