<%= form_for(@user) do |f| %>
 <%= render 'shared/error_messages', object: f.object %>

    <div class="field">
      <%= f.label 'First Name' %><br>
      <%= f.text_field :ufname %>
    </div>
    <div class="field">
      <%= f.label :'Middle Name' %><br>
      <%= f.text_field :umname %>
    </div>
    <div class="field">
      <%= f.label 'Last Name' %><br>
      <%= f.text_field :ulname %>
    </div>
    <div class="field">
      <%= f.label 'E-mail Address' %><br>
      <%= f.text_field :uemail %>
    </div>
    <div class="field">
      <%= f.label 'Username' %><br>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit 'Register' %>
    </div>
<% end %>
