<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <% if session[:user_id] %>
          <%= link_to 'Account Menu', access_authenticated_path, :class => "navbar-brand topnav" %>
      <% else %>
          <%= link_to 'Login', access_login_path, :class => "navbar-brand topnav" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%=link_to 'Search Dogs', '#' %>
        </li>
        <li>
          <%= link_to 'Search Events', public_event_search_path %>
        </li>
        <li>
          <%= link_to 'About', '#' %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>



