<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" id="top-navigation" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <% if session[:user_id] %>
              <%= link_to 'Account Menu', access_authenticated_path, :class => "navbar-brand topnav", :id => "login" %>
          <% else %>
              <%= link_to 'Login', access_login_path, :class => "navbar-brand topnav", :id => "login" %>
          <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="home-links">
        <li>
          <%=link_to 'Search Dogs', :controller => :dogs, :action => :dog_search %>
        </li>
        <li>
          <%= link_to 'Search Events', :controller => :events, :action => :event_search %>
        </li>
        <li>
          <%= link_to 'About', '#' %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>



